<div id="sidebar-menu">
    <ul class="metismenu" id="side-menu">
        <li class="menu-title">Danh mục</li>
        <li>
            <a href="@Url.Action("DoanhThuTheoThang", "Admin" )">
                <i class="fe-activity"></i>
                <span> Doanh Thu Bán Hàng </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("DangKiTuVan", "Admin" )">
                <i class="fe-airplay"></i>
                <span> Đăng kí tư vấn </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("QuanLiDangKiTuVan", "Admin" )">
                <i class="fe-user"></i>
                <span> Quản lý đăng kí </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("ThucHienDV", "Admin")">
                <i class="mdi mdi-playlist-star"></i>
                <span> Thực hiện dịch vụ </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("LichSuChamSoc", "Admin" )">
                <i class="mdi mdi-account-group"></i>
                <span> Lịch sử chăm sóc </span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("QuanLiSanPham", "Admin" )">
                <i class="mdi mdi-shopping"></i>
                <span> Quản lí Sản phẩm </span>
            </a>
        </li>
    </ul>
</div>
