<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/product.css")?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/chitietsanpham.css")?v=@DateTime.Now.Ticks">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Document</title>
</head>
<body>
    @Html.Action("Header", "Home")
    

    <main class="main">
        @RenderBody()
    </main>

    @Html.Action("Footer", "Home")
    

</body>
</html>