
@{
    ViewBag.Title = "LichSuChamSoc";
    Layout = "~/Views/Shared/_LayoutStaffPV.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">

                <h4 class="page-title">General Elements</h4>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tìm kiếm thông tin</h4>

                    <br>
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="simpleinput">
                                Tên Khách
                                Hàng
                            </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" id="simpleinput">
                            </div>
                            <label class="col-lg-2 col-form-label" for="simpleinput">
                                Dịch vụ chăm
                                sóc
                            </label>
                            <div class="col-lg-4">
                                <select class="form-control" name="MaDV" id="MaDV" onchange="TongTien()">
                                    <option value="">--Chọn dịch vụ--</option>
                                    @foreach (var item in ViewBag.listDV)
                                    {
                                        <option value="@item.ID" data-days="@item.SO_NGAY_THUC_HIEN" data-price="@item.GIA_DICH_VU">@item.TEN_DICH_VU</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Số điện thoại</th>
                                    <th>Dịch vụ</th>
                                    <th>Tên quy trình</th>
                                    <th>Nhân viên phục vụ</th>
                                    <th>Buổi</th>
                                    <th>Ngày thực hiện</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.lichSuChamSoc)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.TEN_KHACH_HANG</td>
                                        <td>@item.PHONE_NUMBER</td>
                                        <td>@item.TEN_DICH_VU</td>
                                        <td>@item.TEN_QUY_TRINH</td>
                                        <td>@item.TEN_NHAN_VIEN</td>
                                        <td>@item.Buoi</td>
                                        <td>@item.NGAY_THUC_HIEN</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>

                    <br>

                    <button type="button" class="btn btn-warning waves-effect waves-light float-right"
                            data-toggle="modal" data-target="#bs-example-modal-sm">
                        Tìm Kiếm
                    </button>


                </div> <!-- end card-box -->
            </div> <!-- end card-->
        </div><!-- end col -->
    </div>

</div> <!-- container-fluid -->
